body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #1c1c1c;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
}

.login-box input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: #ffc107;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #151515;
}

.container {
  padding: 20px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #333;
}
